/*CONFIGURACIÓN DEL ENCABEZADO*/

*{
  padding: 0;/*eliminando margenes*/
  margin: 0;/*eliminando margenes*/
  text-decoration: none; /*eliminando rayitas en los textos*/
  list-style: none;
  box-sizing: border-box; /*para que los elementos no se salgan del contenedor*/
}

nav{
  background: #fff;
  height: 80px;/*es la altura del contenedor*/
  width: 100%;
  /*position:sticky;*/ /* Mantiene el menú en la parte superior al hacer scroll */
  /*top: 0;*/ /* Fija el menú en la parte superior */
  z-index:1000; /*para superponer por encima de los demas componentes*/
}

.menu{
  z-index:5000;
}  

.enlace{
  position: absolute;
  padding: 20px 50 px;
  margin: 5px 10px;  
}

.logo{
  height: 40px;/*el padding del enlace son 20px arriba y abajo mas 40px del logo suma 80px con eso lo centramos*/
}

nav ul{
  float:right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 18px;
  pad: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active, li a:hover{
  background: greenyellow;
  transition: .5s;  
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;/*pongo en la mitad la 3 rayitas*/
  margin-right: 40px; /*a las 3 rayitas lo separo del borde de la página*/
  cursor: pointer;/*para que al momento de colocar el mouse encima de las 3 rayitas se transforme en una mano*/
  display: none;/*esto es para que se vea solo en celular*/

}
  
#check{
  display: none;/*para ocultar la cajita del checklist*/

}

section{
  background: url(./imagen/fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;  
  height: calc(100vh - 80px);/*con esto le digo que me ocupe todo menos los 80px del nav*/

}

/*parte del responsive*/

/*para tableta*/
@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
  
}

/*para celulares*/
@media (max-width: 858px){
  .checkbtn{
      display: block;    
  }
  
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }

  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }

  nav ul li a{
      font-size: 20px;
  }

  li a:hover, li a.active{
      background: none;
      color: red;
  }

  /*solo cuando el check esté activado le decimos que aparezca*/
  #check:checked ~ ul{
      left:0;
  }
}

/*CONFIGURACIÓN CENTRAL DE LA PAGINA*/

h1{/*para darle efecto al titulo de información*/
  color:blue;
  text-shadow: 1px 2px 2px black, 0 0 25px orange, 0 0 5px orange;
  text-align: center;
  margin-left: 5px auto 10px; /*es para darle espacio entre el logo y el texto*/
}

.inicio{
  display: block;/* Activa Flexbox */  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px auto;
}

.inicio2{
  display: flex;/* Activa Flexbox */  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px auto;
  margin-bottom: 50px;  
}

.inicio3{
  display: block;/* Activa Flexbox */  
  flex-direction: column;
  flex-wrap: wrap; /*si los elementos no caben en un contenedor, los adicionales se mantendran en fila*/
  align-items: center;
  margin: 10px auto;          
  margin-bottom: 5px;
  width: 250px; /*ancho del div*/
  height: 90px; /*altura del div*/
  background-color: white; /*color de fondo del div*/
  text-align: center;  
  opacity: 0.90;
  border-radius: 20px; /*curva de las esquinas del div*/
  /*bode del div*/
  border: 1px solid black;  
  padding: 10px;
  position: relative;
}

/*efecto del contenedor*/
.inicio3:hover{
  border: 3px solid purple;
}

/*CONFIGURACION PIE DE PÁGINA*/

h3{
  color: #fff;
}
h2{
  color: #fff;
}
.contacto{
  color: orange;
}
.correo{
  color: orange;
}
.contacto:hoover{
  background: greenyellow;
}
.correo:hoover{
  background: greenyellow;
}

.pie{
  display: block;
  width: 100%;
  max-width: 600px; /* Mantener un ancho máximo */
  margin: 10px auto;
  /*background-color: black;*/
  text-align: center;
  opacity: 0.90;
  border-radius: 20px;
  padding: 10px;
}

footer {
  /*margin-top:500px;*/
  /*background-color: #222;*/
  background-color: gray;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> 96d1ce262aed8fd3e5d4630c70053e5a57a08cfb
